*{
    margin: 0;padding: 0;
}
body{
    font-family: roboto;
    
}
h3{
    margin-top: 50px;
    line-height: 200%;
    font-style: italic;
    color: rebeccapurple;
    font-size: 20px;
}
P{
    line-height: 150%;
}
#header{
padding: 30px;
overflow: hidden;
}
nav {
    width: 50%;
    margin:auto;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    list-style: none;
    float: left;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding:15px 30px;
    text-transform: uppercase;
    color: orangered;
    font-size: 21px;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}
nav ul li a:hover{
    color: #2a2471c0;
 
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#wrapper_top{
    max-width: 1360px;
    background: url(images/top-banner.png) no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    
}
.wrapper_bottom{
    max-width: 1360px;
    background: url(images/dream-bg.png) no-repeat;
    padding-bottom: 100px;
  background-position: right,bottom;
}
.container{
    max-width: 1080px;
    margin:auto;
   
}
.frist_half{
    max-width: 47%;
    padding:1%;
    margin-right: 4%;
    float:left;

}
.hirebtn{
    background:tomato;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -ms-transition:0.5s all ease;
    -o-transition:0.5s all ease;
}
.hirebtn:hover{
    color:purple
}
img{
    width: 47%;
}
.second__half{
    max-width: 47%;
    padding:1%;
    float:right;
}
img{
    width: 47%;
}
.my{
    width: 90%;
}
h1{
    font-weight: 600;
    font-style: italic;
}
.highlite{
    color:tomato;
  

}
P{
    margin-top: 50px;
}

/* experiendce area  */
.experience_area{
    overflow: hidden;
    padding-bottom: 120px;
}
.latest_work{
    max-width: 43%;
    height:250px;
    float: left;
    margin-left: 2%;
    padding:2%;
    box-shadow: 1px 2px 16px 2px grey;
    border-left: 5px solid purple;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.portfolio{
    max-width: 40%;
    height:250px;
    float: left;
    margin-left: 4%;
    padding:2%;
    box-shadow: 10px 10px 40px grey;
    border-left: 5px solid tomato;
    border-image: url(liner-gradient) tomato, green;
    margin-top: 50px;
    border-radius: 5px;

}
footer{
    background:rebeccapurple;
}
 .copy{
    display: block;
    overflow: hidden;
    background: rgba(32, 21, 32, 0.788);
    color:white;
    text-align: center;
    padding:10px;
}
#title{
    line-height:none;
    margin:0;
    padding:0;
}
.padding{
    padding-top:0px;
    margin-top: 20px;
    font-size: 18px;
    
}
.social{
    padding:20px;
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin: auto;
}

ul li{
    list-style: none;
    float: left;
}
ul li a{
    text-decoration: none;
    
}
ul li a img{
    width: 60px;
    margin-left: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}